body {
    font-family: "Poppins", sans-serif;
    background: #fff0f5;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    color: #f76bb1;
}

h2{
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    color: #ff69b4;
}

nav {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

nav a {
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 1.5rem;
    background-color: white;
    color: #ff69b4;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #ff69b4;
    color: white;
    transform: scale(1.05);
}